<div>
    <div class="case" id="case">
        <section id="section1" style="background-color: antiquewhite;">
            <div>
                sdafsdfsdfdf
            </div>
        </section>
    </div>

    <div class="case" id="case">
        <section id="section2" style="background-color: antiquewhite;">
            <div>
                section2
            </div>
        </section>
    </div>

    <div class="case">
        <section id="section3" style="background-color: bisque;">
            <div>
                section 2
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio commodi numquam suscipit,
                cumque
                aliquid atque sunt tempora, consequuntur autem dolores impedit corporis explicabo vero quae ullam
                laboriosam
                nam
                consequatur!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
            </div>

        </section>
    </div>

    <div class="case" id="case">
        <section id="section4" style="background-color: antiquewhite;">
            <div>
                section4
            </div>
        </section>
    </div>

    <div class="case">
        <section id="section5" style="background-color: rgb(122, 253, 236);">
            <div>
                section 5
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio commodi numquam suscipit,
                cumque
                aliquid atque sunt tempora, consequuntur autem dolores impedit corporis explicabo vero quae ullam
                laboriosam
                nam
                consequatur!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, sit quia! Modi labore exercitationem,
                similique
                cum repudiandae atque nemo voluptates quos soluta excepturi, totam commodi explicabo voluptas, in nam
                illo!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni iste, consequuntur officia
                perspiciatis
                repellat at a qui dignissimos nam repellendus amet libero neque vero asperiores, ad, ab soluta!
                Blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem incidunt. Molestias enim
                architecto
                animi? Fugit voluptas eaque praesentium necessitatibus. Soluta nobis dicta architecto commodi magni
                magnam
                earum
                veritatis neque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias recusandae voluptatum excepturi magnam ab
                laboriosam amet sapiente repellendus, pariatur velit officiis eius aspernatur modi nesciunt a quasi
                consequatur
                accusamus doloremque.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsam omnis aliquid velit quia labore,
                dolore
                atque reprehenderit odio dolor non maxime aspernatur deleniti in reiciendis ipsum optio aperiam
                voluptatem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat qui debitis dolorem repellendus vitae
                officiis quam, accusamus dolore impedit doloribus excepturi ipsum, eaque, distinctio delectus itaque
                aspernatur
                quia dolores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quibusdam aspernatur, commodi
                perferendis
                consequatur iste. Unde repellat placeat earum facere labore itaque quidem magnam dignissimos cupiditate
                expedita
                ab, quis molestias!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus delectus temporibus fugit deleniti nulla
                commodi
                ut enim alias quia quidem animi deserunt, ab mollitia hic quos impedit nam id amet.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias incidunt quisquam repudiandae voluptas
                suscipit,
                inventore, aspernatur iste consectetur deleniti libero saepe? Eaque, ut adipisci rem fugit iure quia
                porro
                fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus maxime, aspernatur rerum similique
                dicta
                blanditiis veniam, fugit accusantium adipisci repellat, dolorem error ipsum! Harum, reiciendis? Eos
                voluptates
                neque optio quae?
            </div>
        </section>
    </div>
</div>