/* You can add global styles to this file, and also import other style files */

@import "./assets//theme/variables.scss";
@import "./assets//theme/root.scss";
@import "./assets/theme/media.scss";

html,
body {
  scroll-behavior: smooth !important;
  overflow-y: hidden !important;
  padding: 0;
  margin: 0;
  width: 100vw;

}


section{
  height: 100vh;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth !important;
  .case{
    padding: 15px;
    height: 100%;
    overflow: hidden;
  }
}
