/* You can add global styles to this file, and also import other style files */

@import "./assets//theme/variables.scss";
@import "./assets//theme/root.scss";
@import "./assets/theme/media.scss";

html,
body {
  scroll-behavior: smooth !important;
  overflow-y: hidden !important;
  padding: 0;
  margin: 0;
  width: 100vw;

}

.case {
  height: 100vh;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth !important;
}

section{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth !important;
  div{
    padding: 15px;
  }
}
